.ChangeTheme
  position: absolute
  width: calc(2rem * 1.15)
  height: calc(2rem * 1.15)
  top: 2rem
  right: 2rem
  padding: 0
  border: none
  border-radius: 50%
  background-repeat: no-repeat
  background-position: center
  background-color: transparent
  &_theme_light
    background-image: url("../../assets/sun.svg")
    fill: red
    &:hover
      filter: brightness(90%)
  &_theme_dark
    background-image: url("../../assets/moon.svg")
    &:hover
      filter: brightness(110%)
  @media print
    display: none !important
    height: 0
