@import "@shared/breakpoints"

.Timeline
  display: flex
  flex-direction: column
  justify-content: center
  // margin-top: 6rem
  margin: 4rem .5rem 0 .5rem
  padding: 0
  & > * > ul
    padding: 0
    list-style-type: none
  & > * > li
    padding: 0
  // +for-phone
  //   margin: 20vh .5rem 0 .5rem
  // +for-tablet
  //   margin: 40vh .5rem 0 .5rem
  // +for-desktop
  //   margin: 10vh .5rem 0 .5rem
