@use "@uikit/text/Text.module"
@import "@shared/breakpoints"

.Greetings
  @extend .Text
  margin: 0
  margin: 10vh .5rem 0 .5rem
  font-size: 2.7rem
  +for-phone
    margin: 20vh .5rem 0 .5rem
  +for-tablet
    margin: 25vh .5rem 0 .5rem
  +for-desktop
    margin: 10vh .5rem 0 .5rem
