@use "@uikit/text/Text.module"

.Header
  @extend .Text
  font-size: 19vw
  margin: 0
  margin-top: -8.01vw
  margin-left: -.5vw
  padding: 0
  font-weight: 300
  letter-spacing: -.125rem

.Header_theme_light
  color: var(--theme-light-secondary)

.Header_theme_dark
  color: var(--theme-dark-secondary)
