@import "@shared/breakpoints.sass"

:root
  --theme-light-primary: #0C0C0C
  --theme-light-secondary: #787878
  --theme-light-bg: #fafafa
  --theme-light-el-bg: #E4E4E4

  // TODO: change palette
  --theme-dark-primary: #cbcbcb
  --theme-dark-secondary: #5a5a5a
  --theme-dark-bg: #303030
  --theme-dark-el-bg: #959595

  --theme-link: #5F5FFF
  --theme-yellow: #FCCA00

html
  font-size: calc(1em + .5vw - 5px)
  +for-phone
    font-size: calc(1.2em + .125vw - 8px)
  +for-tablet
    font-size: calc(1em + .25vw - 6px)
  +for-desktop
    font-size: calc(1em + .5vw - 5px)

body
  overflow-x: hidden
  scrollbar-width: thin

.App
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  min-height: 100vh
  transition: background-color .20s ease-out, color .20s ease-out

.App_theme_light
  background-color: var(--theme-light-bg)
  color: var(--theme-light-primary)

.App_theme_dark
  background-color: var(--theme-dark-bg)
  color: var(--theme-dark-primary)
